@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 32px;
}

body {
  font-family: "Inter", sans-serif;
  background: url(/images/pattern-curve.svg) no-repeat;
  background-position: left bottom;
  background-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 45rem;
}

.slider {
  width: 100%;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0.78rem;
  position: relative;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.professional {
  text-align: center;
}

.avatar {
  background: url(/images/pattern-bg.svg) no-repeat center;
  background-size: contain;
  height: 10.2rem;
  display: flex;
  align-items: center;
}

.avatar img {
  width: 7.9rem;
  height: 7.9rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: -3px 41px 70px -52px rgba(81, 67, 190, 1);
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffff;
  border-radius: 1rem;
  width: 2.5rem;
  height: 1.2rem;
}

.arrows img {
  height: 14px;
  width: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrows img:hover {
  color: var(--dark-blue);
  transform: scale(1.5);
}

.review {
  position: relative;
  color: var(--dark-blue);
}

.review img {
  position: absolute;
  width: 1.875rem;
  height: 1.56rem;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

p {
  padding-top: 1.8rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.6rem;
}

h5 {
  font-size: 0.5rem;
}

.occupation {
  color: var(--grayish-blue);
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(246, 62%, 54%);
  font-weight: 700;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  html,
  body,
  .wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 450px) {
  .avatar {
    background-size: contain;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 38px;
  }

  .avatar img {
    width: 8.2rem;
    height: 8.2rem;
  }
}

@media screen and (max-width: 991px) {
  .arrows {
    top: 9.2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-size: 45%;
  }

  .slider {
    max-width: 33.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .professional {
    display: flex;
  }

  .avatar {
    flex: 1;
    order: 2;
    height: 17.3rem;
    background-size: 100% 100%;
    transform: translateY(0.5rem);
  }

  .avatar img {
    width: 14.2rem;
    height: 14.2rem;
  }

  .review {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: -2.5rem;
    margin-left: 1.5rem;
    margin-top: 1.4rem;
  }

  .review img {
    width: 3.2rem;
    height: 2.5rem;
    top: 3.5rem;
    left: -8.5rem;
  }

  .title {
    display: flex;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.4;
    padding-bottom: 1.3rem;
  }

  h5 {
    font-size: 0.5rem;
  }

  .occupation {
    padding-left: 0.25rem;
  }

  .arrows {
    bottom: 1.2rem;
    right: 11.5rem;
    width: 3rem;
    height: 1.5rem;
  }

  .arrows img {
    height: 0.5rem;
  }
}
